<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Request from <%= @user.name %></h1>
    <p>
     I want to partcipate in your event.<br/>
    </p>
    <p>
      To confirm visit the link<%= @url %>.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>