// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.row
{margin-right: 0px !important;
}
.back_img
{
	background-image: asset_url("back.jpg");
	background-size: 100% 120%;
	background-repeat: repeat-y;
	color:#FFFFF0;
	}
	#margin-top{
	margin-top:5%;
}

html,body,#map-canvas
{
	height:100%
}
.card{
	background-color:#F8F8F8;
	border-radius:4px;
	padding: 30px;
	margin-right: 100px;
}
.custom
{

margin-top:30px;

}
.left-event
{
	margin-left:20px;
}
.left-search
{
	margin-left:120px;
}

.right-event
{
	margin-right:40px;
}
.back
{
	
}