
<%= form_for([@event,@comment]) do |f|%>
<h3>Post Your comment here . .<span class="glyphicon glyphicon-hand-down"></span></h3>
<%= f.text_area:content,size:"55x5",placeholder: "Have a say !!"%>

<%= f.submit:comment,class: "btn btn-primary" %>
<% end %>